@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root{
    --primary-link:#059669
    ;
}
body{

    font-family: 'Open Sans', sans-serif;
}
/* container */
.container{
    padding-left: 1rem;
    padding-right: 1rem;
}
.container-fluid{

}
.container-center{
    max-width:600px;
    margin:auto;
}

/* links */
.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.link-primary{
    background-color: var(--primary-link);
    border-radius: 0.5rem;
    color:white;
}
.link-secondary{
    color:var(--primary-link);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-link);
}